body {
    font-family: sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 60%; /* Reduced width */
    max-width: 600px; /* Reduced max-width */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    width: 48%; /* Adjusted for two inputs */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    background-color: #333;
}

#predictionResult {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}